.InputDialog .content {
  display: flex;
  padding-bottom: 0px;
}

.InputDialog .content input.input-ohif {
  margin-bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
.InputDialog .content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.InputDialog .content input[type=number] {
  -moz-appearance: textfield;
}

.InputDialog .footer {
  padding: 0;
  margin: 0;
}
.InputDialog .footer button.btn {
  margin: 10px;
}